<p id="notice"><%= notice %></p>

<p>
  <b>Date of payment:</b>
  <%= @schedule_payment.date_of_payment %>
</p>



<p>
  <b>Client:</b>
  <%= @schedule_payment.lease.client.lname %>
</p>

<p>
  <b>Begin:</b>
  <%= @schedule_payment.lease.begin_time %>
</p>


<p>
  <b>End:</b>
  <%= @schedule_payment.lease.end_time %>
</p>

<p>
  <b>Account</b>
  <%= @schedule_payment.account.details %>
</p>
<% if permitted_to? :edit, @user %>
<%= link_to 'Edit', edit_schedule_payment_path(@schedule_payment) %> |
<% end %>
<%= link_to 'Back', schedule_payments_path %>
